@charset "UTF-8";


@media screen and (orientation:landscape) {
    main {
        width: 70vw;
    }

    div#conteudo {
        float: left;
        display: block;
    }

    div#imagem {
        display: block;
        float: right;
    }
}